<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/blankcss")
    @RenderSection("css", required: false)
    @Styles.Render("~/Content/customthemecss")
    @RenderSection("customcss", required: false)
</head>
<body class="theme-red" ng-app="Home" ng-controller="Index">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <div class="page-loader-wrapper-custom" style="display:none;z-index:999999999">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    @*<div ng-show="true" style="height:100vh;overflow:auto;"><img src="~/images/ounq1mw5kdxy.gif" style="opacity:0.5;z-index:999999999;width:250px;height:250px;display:block; margin: auto;position:relative;vertical-align:middle;" /></div>*@
    @* Overlay for preloader *@
    <div class="overlay"></div>
    @* Searchbar start *@
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" id="public_search" style="background-color:white;" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    @* Searchbar end *@
    @* Navbar top *@
    <nav class="navbar" style="margin:0px; height: 70px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a style="font-size: 25px;" class="navbar-brand" href="/">FAQ Management System</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a style=" margin: auto;" href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                    <li><a><p>Welcome User !!</p></a></li>
                </ul>
            </div>
        </div>
    </nav>
    @* navbar top end *@
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar" style="padding-top: 0px;">
            <!-- User Info -->
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">DEPARTMENTS</li>
                    <li ng-repeat="deptmod in deptmods">
                        <a href="javascript:void(0)" class="menu-toggle">
                            <i class="material-icons">card_travel</i>
                            <span>{{deptmod[0].Department}}</span>
                        </a>
                        <ul class="ml-menu">
                            <li ng-repeat="mod in deptmod">
                                <a id="dash" href="javascript:void(0)" ng-click="whichModule(mod.Id,mod.Module)">{{mod.Module}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy;<a href="javascript:void(0);">Collabera Technologies Pvt. Ltd. </a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>
    <section class="content">
        @RenderBody()
    </section>
    @Scripts.Render("~/bundles/blankscript")
    @RenderSection("customjs", required: false)
    @Scripts.Render("~/bundles/themescript")
</body>
</html>