<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/blankcss")
    @RenderSection("css", required: false)
    @Styles.Render("~/Content/customthemecss")
    @RenderSection("customcss", required: false)
</head>


<body class="theme-red" ng-app="layout" ng-controller="Dashboard">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    @* Overlay for preloader *@
    <div class="overlay"></div>
    @* Searchbar start *@
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" style="background-color:white;" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    @* Searchbar end *@
    @* Navbar top *@
    <nav class="navbar" style="margin:0px; height: 70px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a style="font-size: 25px;" class="navbar-brand" href="/Admin">Collabera FAQ Management System</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="margin:auto"  href="TagsManagement"><i class="material-icons">local_offer</i></a></li>
                    <li class="dropdown">
                        <a style="margin:auto;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="javascript:void(0);">
                            <i class="material-icons">add</i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="CreateQuestion" class="waves-effect waves-block">New Question</a></li>
                            <li>@*<a href="#" data-toggle="modal"   data-target="#defaultModal" class="waves-effect waves-block">Import Question</a>*@</li>
                        </ul>
                    </li>
                    <li><a style=" margin: auto;" href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                </ul>
            </div>
        </div>
    </nav>

    @* navbar top end *@
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar" style="padding-top: 0px;">
            <!-- User Info -->
            <div class="user-info" style="background-image:url(@Url.Content("~/images/user-img-background.jpg"))">
                <div class="image">
                    <img src="@Url.Content("~/images/user.png")" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
                    <div class="email">john.doe@example.com</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#changePassword" class="waves-effect waves-block"><i class="material-icons">person</i>Change Password</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="Logout"><i class="material-icons">input</i>Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu" ng-controller="Layout">
                <ul class="list">
                    <li class="header">DEPARTMENTS</li>
                    <li>
                        <a href="" ng-click="change('Delivery')">
                            <i class="material-icons">card_travel</i>
                            <span>Delivery</span>
                            <span>({{count.delivery}})</span>
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="change('Operations')">
                            <i class="material-icons">info</i>
                            <span>Operations</span>
                            <span>({{count.ops}})</span>
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="change('Audit')">
                            <i class="material-icons">history</i>
                            <span>Audit</span>
                            <span>({{count.audit}})</span>
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="change('Employee Relationship')">
                            <i class="material-icons">group</i>
                            <span>ER</span>
                            <span>({{count.er}})</span>
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="change('Finance')">
                            <i class="material-icons">account_balance</i>
                            <span>Finance</span>
                            <span>({{count.finance}})</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy;<a href="javascript:void(0);">Collabera Technologies Pvt. Ltd. </a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>
    <section class="content">
        @RenderBody()
    </section>
    @Html.Partial("_ImportQuestionModal")
    @Html.Partial("_changePasswordModal")
    @Scripts.Render("~/bundles/blankscript")
    @RenderSection("customjs", required: false)
    @Scripts.Render("~/bundles/themescript")

</body>

</html>